*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: purple;
}
.SubContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: pink;
}

.Container-Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Title{

    color:black;
    font-weight: 700;

}

.Card-Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 50%;
    border: 1px solid black;
}

.Card-Usuário{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Usuário{
    color:black;
    font-weight: 700;
}

.Input{
    margin: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid blacka;
    outline: none;

}

.Card-Password{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Senha{
    color:black;
    font-weight: 700;
}

.ContainerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 10px;

    
}
.ButtonLogin{
    color:black;
    font-weight: 700;
    border: none;
    padding: 10px 32px;
    width: 100%;
    
}

